<!-- frontend/site/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <title>{{ view.title }}</title>
{% endblock head %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>Полезная информация о приказном производстве</h1>

    <div class="bs-callout bs-callout-info">
        <h4>
            Что такое приказное производство?
        </h4>
        <p>
            Приказное производство - это процедура осуществления правосудия, при которой суд выносит решение по ограниченному кругу требований без проведения судебного заседания на основе представленных документов.
    В приказном производстве лицо, которое обращается с заявлением о выдаче судебного приказа, законодателем поименовано как «взыскатель», а лицо, с которого осуществляется взыскание - «должник».
        </p>
    </div>


<div class="bs-callout bs-callout-info">
	<h4>
Как требования рассматриваются?
	</h4>
	<p>
В порядке приказного производства рассматриваются бесспорные требования, не превышающие пятьсот тысяч рублей. Бесспорными являются требования, подтвержденные письменными доказательствами, достоверность которых не вызывает сомнений, а также признаваемые должником.
          <br>
К примеру, Вы предоставили займ своему приятелю, в подтверждение была составлена расписка. При наступлении срока возврата займа Вы направили ему требование возвратить займ, на которое Ваш приятель ответил, что признает долг в полном объеме, однако не может его вернуть в данный момент. В этом случае, требования являются бесспорными, поскольку признаются должником в полном объеме, именно такие и рассматриваются в порядке приказного производства.

	</p>
</div>



<div class="bs-callout bs-callout-info">
	<h4>
Какой порядок?
	</h4>
	<p>
Для начала приказного производства взыскатель обращается в суд с заявлением о выдаче судебного приказа, к которому прикладывает документы, подтверждающие наличие требования к должнику.
<br>
По результату рассмотрения представленных взыскателем документов, суд не позднее следующего рабочего дня выносит судебный приказ или определении о возвращении заявления о выдаче судебного приказа.
<br>
Судебный приказ является одновременно исполнительным документом, который представляется для исполнения в Федеральную службу судебных приставов.
	</p>
</div>


<div class="bs-callout bs-callout-info">
	<h4>
А если я не согласен с предъявленным требованием?
	</h4>
	<p>
Зачастую, хоть и требование обосновано вытекает из имеющихся у взыскателя документов, между сторонами все равно существует спор о размере долга или порядке его погашения. Такие ситуации особенно часто встречаются в приказном производстве по делам о взыскании задолженности по коммунальным платежам.
<br>
При рассмотрении представленных взыскателем документов, суд рассматривает их без учета позиции должника, фактически лишая должника права на представление своих возражений относительно заявленных требований.
<br>
Для решения этой проблемы законодатель специально предусмотрел возможность подачи возражений относительно исполнения судебного приказа.
	</p>
</div>


<div class="bs-callout bs-callout-info">
	<h4>
Когда заявлять возражения?
	</h4>
	<p>
Возражения относительно исполнения судебного приказа могут быть заявлены в течение десяти дней с момента получения судебного приказа. При этом важным является день получения судебного приказа, а не день его вынесения или направления должнику.
<br>
Проверить дату получения письма с судебным приказом можно с помощью <a href="https://www.pochta.ru/tracking" target="_blank">сервиса отслеживания</a> почтовых отправлений. Для этого Вам потребуется расположенный на конверте почтовый идентификатор.
<br>
Судебный приказ также может быть отправлен электронно через <a href="https://www.gosuslugi.ru" target="_blank"><u>Госуслуги</u></a> или сервис <a href="https://zakaznoe.pochta.ru" target="_blank">Электронные заказные письма</a>. Такой способ направления судебного приказа возможен при наличии подписки на получение электронной корреспонденции.
	</p>
</div>

<div class="bs-callout bs-callout-info">
	<h4>
Что писать в возражениях?
	</h4>
	<p>
Возражения должника относительно исполнения судебного приказа должны содержать только несогласие с вынесенным судебным приказом и не должны быть чем-то мотивированы.
<br>
Такие разъяснения были даны в пункте 31 Постановления Пленума Верховного Суда РФ № 62 от 27 декабря 2016 года «О некоторых вопросах применения судами положений Гражданского процессуального кодекса Российской Федерации и Арбитражного процессуального кодекса Российской Федерации о приказном производстве».

	</p>
</div>

<div class="bs-callout bs-callout-info">
	<h4>
		Как отправить возражения в суд?
	</h4>
	<p>
Возражения относительно исполнения судебного приказа могут быть представлены в суд лично, а также направлены по почте или в электронном виде при наличии у суда технической возможности принимать электронные документы.
<br>
В Москве действует <a href="https://mos-sud.ru" target="_blank">единый портал мировых судей</a>, который позволяет направлять документы по делу в электронном виде. Как правило, информация о наличии технической возможности приема электронных документов указана непосредственно на сайте суда.
<br>
Обратите внимание, что отправлять возражения почтой рекомендуется заказным письмом с описью вложений. Это позволит без труда подтвердить факт направления письма в будущем.
	</p>
</div>

<div class="bs-callout bs-callout-info">
	<h4>
		Что сделает суд при поступлении возражений?
	</h4>
	<p>
При поступлении в суд возражений относительно исполнения судебного приказа, суд выносит определение об отмене судебного приказа, которое в течение трех дней направляется взыскателю и должнику.
<br>
Определение об отмене судебного приказа является окончательным процессуальным документом, который выносится в рамках приказного производства, и не подлежит обжалованию.
	</p>
</div>




{% endblock content %}
