{% extends 'base.html' %}

{% block head %}
    <title>Политика конфиденциальности</title>
{% endblock head %}

{% block content %}
    <main class="container my-5">
        <!-- Секция политики конфиденциальности -->
        <section class="privacy-policy">
            <h1 class="text-center mb-4">Политика конфиденциальности</h1>
            <p class="lead">
                Ваша конфиденциальность важна для нас. Эта политика конфиденциальности описывает, как мы собираем, используем и защищаем вашу личную информацию при использовании нашего сайта и сервисов.
            </p>

            <h2 class="mt-4">1. Сбор информации</h2>
            <p>
                Мы собираем информацию, которую вы предоставляете нам при регистрации на сайте или при использовании наших услуг. Это может включать ваше имя, контактные данные и прочую информацию, необходимую для предоставления наших услуг.
            </p>

            <h2 class="mt-4">2. Использование информации</h2>
            <p>
                Мы используем вашу личную информацию для обеспечения нормального функционирования наших сервисов, улучшения качества обслуживания, а также для связи с вами по вопросам, связанным с использованием наших услуг.
            </p>

            <h2 class="mt-4">3. Защита данных</h2>
            <p>
                Мы применяем различные меры безопасности для защиты вашей личной информации от несанкционированного доступа, изменения или удаления.
            </p>

            <h2 class="mt-4">4. Раскрытие информации</h2>
            <p>
                Мы не передаем вашу личную информацию третьим лицам, за исключением случаев, предусмотренных законом, или если это необходимо для предоставления услуг.
            </p>

            <h2 class="mt-4">5. Изменения в политике конфиденциальности</h2>
            <p>
                Мы можем периодически обновлять нашу политику конфиденциальности. Все изменения будут опубликованы на этой странице.
            </p>
        </section>
    </main>
{% endblock content %}
